@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", Arial;
}

:root{
  --primary: #800000;
  --primary-hover: #600000;
  --accent: #D4AF37;
  
  --success: #15803D;
  --warning: #EA580C;
  --danger: #DC2626;
  --info: #0369A1;


  --bg: #F4F1EA;
  --surface: #FFFFFF;
  --surface-elevated: #FDFBF7;
  --border: #E2DCD5;

  --text-primary: #1F1111;
  --text-secondary: #655656;
  --text-light: #FFFFFF;
}

body{
  max-width: 550px;
  margin: auto;
  color: var(--text-primary);
  padding: 1em;
}

@media screen and (min-width: 780px) {
    body{
      max-width: 700px;
    }
}

#bg-elem{
  position: fixed;
  background-color: var(--bg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -99;
}

#overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .3;
}

#head-title{
  display: flex;
  align-items: center;
  gap: .6em;
}

#head-title a{
  font-size: 1.2em;
  color: var(--text-primary);
  text-decoration: none;
}