body{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#nomor-transaksi{
  display: flex;
  flex-direction: column;
}

#transaksi{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.transaksi-item{
  display: flex;
  gap: 1em;
  padding: 1em;
  border: 2px solid var(--border);
  background-color: var(--primary);
  border-radius: 1em;
  font-size: .8em;
}

.transaksi-item > img{
  width: clamp(80px, 20vw, 100px);
  height: auto;
  display: block;
  object-fit: contain;
}

.transaksi-item > .text{
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1;
  text-align: end;
}

.transaksi-item > .text > p:first-of-type{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaksi-item > .text > p:nth-of-type(2){
  opacity: .7;
  font-weight: 600;
  margin-bottom: 1rem;
}

.transaksi-item > .text > p:nth-of-type(3){
  margin-top: auto;
  font-size: 1.05em;
  font-weight: 600;
}

.transaksi-item > .text > div{
  display: flex;
  gap: 5px;
  /* align-items: center; */
  justify-content: flex-end;
  margin-top: auto;
}

.transaksi-item > .text > div > p:first-of-type{
  font-size: 1;
  font-weight: 600;
  opacity: .7;
}

.transaksi-item > .text > div > p ~ p{
  font-size: 1.1em;
  font-weight: 700;
}