#tambah-akun-btn{
  font-size: .95em;
  padding: 1em;
  border: none;
  outline: none;
  color: var(--text-light);
  border-radius: .5em;
  margin: 1em 0;
  background-color: var(--primary);
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.20);
  cursor: pointer;
  transition: 150ms all;
}

#tambah-akun-btn:hover{
  background-color: var(--primary-hover);
}

#list-akun{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card-akun{
  padding: 1em;
  border-radius: 1em;
  background-color: var(--surface);
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.20);
}

.card-akun > p:first-of-type{
  font-weight: 600;
  font-size: 1.1em;
  color: var(--primary);
}

.card-akun > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-akun > div > p{
  font-weight: 550;
  color: var(--text-secondary);
}

.card-akun > div > div{
  display: flex;
  gap: .8em;
}

.card-akun > div > div > i:first-of-type{
  color: var(--info);
  cursor: pointer;
  transition: 150ms all;
}

.card-akun > div > div > i:first-of-type:hover{
  color: var(--info);
  opacity: .7;
}

.card-akun > div > div > i ~ i{
  color: var(--danger);
  cursor: pointer;
  transition: 150ms all;
}
.card-akun > div > div > i ~ i:hover{
  color: var(--danger);
  opacity: .7;
}

#delete-container, #edit-container{
  display: none;
  flex-direction: column;
  gap: .7em;
  font-size: .9em;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface);
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.20);
  padding: 1em;
  border-radius: 1em;
  z-index: 2;
  max-width: 26em;
}

#delete-container > p {
  text-align: center;
}

.cancel, .continue{
  padding: .5em;
  width: 100%;
  border-radius: .7em;
  transition: 150ms all;
}

#delete-container > div, #edit-container > div{
  display: flex;
  gap: 1em;
}

.cancel{
  background-color: var(--danger);
  color: var(--surface);
  outline: none;
  border: none;
  cursor: pointer;
}

.continue{
  background-color: var(--success);
  color: var(--surface);
  outline: none;
  border: none;
  cursor: pointer;
}

.cancel:hover, .continue:hover{
  opacity: .7;
}

span{
  color: var(--primary);
  font-weight: 700;
}