#nomor-container{
  display: flex;
  flex-direction: column;
  gap: .3em;
  font-size: .9em;
  font-weight: 600;
  margin: 1em 0;
}

input{
  padding: .4em .6em;
  outline: none;
  border: 2px solid var(--border);
  border-radius: .5em;
  background-color: var(--surface);
  font-size: 1em;
}

#list-pulsa{
  display: grid;
  grid-template-columns: repeat(2, minmax(min(100px, 100%), 1fr));
  gap: 1em;
}

.pulsa-item{
  background-color: var(--surface);
  font-size: .9em;
  padding: .6em;
  border: 2px solid var(--border);
  border-radius: .7em;
}