#air-form{
  display: flex;
  flex-direction: column;
  gap: .7em;
  padding: 1em;
  border-radius: 1em;
  margin: 1em 0;
  background-color: var(--surface);
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.20);
}

#air-form div{
  display: flex;
  flex-direction: column;
  gap: .3em;
  font-size: .9em;
  font-weight: 600;
}

#air-form > div > input, select{
  font-size: 1em;
  padding: .4em .6em;
  outline: none;
  border: 2px solid var(--border);
  border-radius: .5em;
  background-color: var(--surface);
}

#air-form > div > select{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.95 10'%3E%3Cpolygon points='3.54 4.26 2.48 5.74 1.41 4.26' fill='%23444'/%3E%3C/svg%3E") no-repeat;
  background-position: right .6em top;
  background-color: var(--surface);
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  cursor: pointer;
}

#air-form > button{
  padding: .5em;
  border-radius: .7em;
  color: var(--surface);
  background-color: var(--primary);
  border: none;
  outline: none;
  font-size: .9em;
  cursor: pointer;
  transition: 150ms all;
}

#air-form > button:hover{
  background-color: var(--primary-hover);
}

.line{
  height: 2px;
  background-color: var(--border);
}

#air-result{
  display: none;
  flex-direction: column;
  gap: .4em;
  font-size: .9em;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface);
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.20);
  padding: 1em;
  border-radius: 1em;
  z-index: 2;
  max-width: 26em;
}

#air-result h4{
  font-size: 1.1em;
}

#air-result > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#air-result > div > p:first-of-type{
  font-size: .95em;
}

#air-result > div > p ~ p{
  font-weight: 600;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: none;
}

#air-result > button{
  padding: .5em;
  border-radius: .7em;
  color: var(--surface);
  background-color: var(--primary);
  border: none;
  outline: none;
  margin-top: 1em;
}

#air-result > div:last-of-type{
  display: flex;
  gap: 1em;
  margin-top: .4em;
}

#air-result > div:last-of-type > button{
  padding: .5em;
  width: 100%;
  border-radius: .7em;
}

#air-result > div:last-of-type > #cancel{
  background-color: var(--danger);
  color: var(--surface);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 150ms all;
}

#air-result > div:last-of-type > #cancel:hover{
  opacity: .7
}

#air-result > div:last-of-type > #pay{
  background-color: var(--success);
  color: var(--surface);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 150ms all;
}

#air-result > div:last-of-type > #pay:hover{
  opacity: .7
}