body{
  padding: 1em;
}

#tambah-produk-form{
  display: flex;
  flex-direction: column;
  gap: .6em;
  background-color: var(--primary);
  padding: 1em;
  border-radius: .7em;
  margin-top: 1em;
}

#tambah-produk-form div{
  display: flex;
  flex-direction: column;
  gap: .4em;
  font-size: .9em;
}

#tambah-produk-form textarea{
  height: 5em;
  resize: none;
}

#tambah-produk-form select{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.95 10'%3E%3Cpolygon points='3.54 4.26 2.48 5.74 1.41 4.26' fill='%23444'/%3E%3C/svg%3E") no-repeat;
  background-position: right .6em top;
  background-color: var(--surface);
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
}

#tambah-produk-form textarea, input, select{
  padding: .4em .6em;
  outline: none;
  border: 2px solid var(--border);
  border-radius: .5em;
  background-color: var(--surface);
}

#tambah-produk-form button{
  margin-top: .5em;
  padding: .5em;
  border-radius: .7em;
  color: var(--surface);
  background-color: var(--info);
  border: none;
  outline: none;
}

