#tambah-produk-form{
  display: flex;
  flex-direction: column;
  gap: .6em;
  padding: 1em;
  border-radius: .7em;
  margin-top: 1em;
  background-color: var(--surface);
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.20);
}

#tambah-produk-form > div{
  display: flex;
  flex-direction: column;
  gap: .4em;
  font-size: .9em;
  font-weight: 600;
}

#produk-kategori{
  font-size: .9em;
}

.produk-items{
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: .6em !important;
}

.produk-items > div{
  display: flex;
  flex-direction: column;
  gap: .4em;
}

input[type="file"]::file-selector-button {
  border: 1px solid var(--primary);
  background-color: var(--surface);
  border-radius: .4em;
  cursor: pointer;
  margin-right: .8em;
  font-size: .9em;
  transition: .15s;
}

#tambah-produk-form textarea{
  height: 5em;
  resize: none;
}

#tambah-produk-form select{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.95 10'%3E%3Cpolygon points='3.54 4.26 2.48 5.74 1.41 4.26' fill='%23444'/%3E%3C/svg%3E") no-repeat;
  background-position: right .6em top;
  background-color: var(--surface);
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
}

#tambah-produk-form textarea, input, select{
  padding: .4em .6em;
  outline: none;
  border: 2px solid var(--border);
  border-radius: .5em;
  background-color: var(--surface);
}

#tambah-produk-form button{
  margin-top: .5em;
  padding: .5em;
  border-radius: .7em;
  color: var(--surface);
  background-color: var(--primary);
  border: none;
  outline: none;
}

@media screen and (min-width: 780px) {
  body{
    font-size: 19px;
  }
}